html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

:root {
  /* Your default theme */
  --background: white;
  --foreground: black;
}

[data-theme="dark"] {
  --background: black;
  --foreground: white;
}

body {
  background: var(--background);
  color: var(--foreground);
}

/* https://seek-oss.github.io/capsize/ */
.capsize::before {
  content: "";
  margin-bottom: -0.098em;
  display: table;
}

.capsize::after {
  content: "";
  margin-top: -0.219em;
  display: table;
}
